* {
  max-width: 1280px;
  box-sizing: border-box;
}

.locationDisplayContainer {
  display: flex;
  justify-content: center;
  margin: auto;
}

.weatherContainer {
  display: flex;
  flex-direction: column;
  width: 550px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: rgb(0, 180, 216);
  margin: 10px auto 10px auto;
  padding-left: 2rem;
  text-align: center;
}

.topContainer {
  display: flex;
  justify-content: space-around;
}

.bottom {
  display: flex;
  justify-content: space-between;
  font-weight: bolder;
  gap: 1rem;
  padding-right: 2rem;
  text-align: center;
}

.bottomUpper,
.bottomLower {
  display: flex;
  justify-content: space-around;
}

.temp {
  font-weight: 600;
  font-size: 70px;
  margin: .5rem 0 0 0;
}

.feelsLike {
  font-weight: 600;
  font-size: 18px;
}

.detailTitle {
font-size: 24px;
font-weight: 600;
}

.detailValue {
  font-size: 18px;
  font-weight: 600;
}

.description {
  font-weight: 600;
  font-size: 18px;
  margin-top: 0;
}

.currentTitle {
  text-align: center;
}

.searchBox {
  display: flex;
  justify-content: center;
}

.searchBar {
  width: 200px;
  
}

.forecastContainer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  border: 2px solid black;
  padding: 1rem;
  gap: 1rem;
  margin: 20px auto 20px auto;
  border-radius: 10px;
  background-color: rgb(0, 180, 216);
  justify-content: space-around;
}

.locationDisplayContainer p {
  position: relative;
  width: 300px;
  border: 2px solid black;
  border-radius: 10px;
  font-weight: bolder;
  font-size: 25px;
  padding: 5px;
  background-color: rgb(0, 180, 216);
  text-align: center;
}

/* .locationDisplay p {
  margin: 0;
} */

.forecastRight {
  display: flex;
  gap: 1rem;
}

.forecastChild {
  border: 2px solid black;
  border-radius: 10px;
  padding: .75rem;
}

.minMax {
  display: flex;
  flex-direction: column;
  font-weight: bolder;
}

.forecastDate {
  display: flex;
  justify-content: space-between;
  padding-bottom: .5rem;
  font-weight: bolder;
}

.forecastIcon {
  font-weight: bolder;
}

.forecastIconImage {
  border: 1px solid black;
  width: 50px;
  height: 50px;
}

.sunriseSunsetContainer {
  width: 250px;
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  border: 2px solid black;
  border-radius: 30px;
  margin: 20px auto 20px auto;
  background-color: rgb(0, 180, 216);
  box-shadow: 10px -2px 20px 2px rgb(0 0 0 / 30%);
  color: black;
}

#sunrise, #sunset, #sunriseText, #sunsetText {
  border: 2px solid black;
  padding: .25rem .75rem;
  border-radius: 5px;
  font-weight: bolder;
}

#top, #middle, #bottom {
  display: flex;
  justify-content: space-around;
}

#top {
  margin-bottom: .75rem;
}

.sunriseIcon, .sunsetIcon {
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

.moonriseMoonsetContainer {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.25rem;
  border: 2px solid black;
  border-radius: 30px;
  margin: 20px auto 20px auto;
  background-color: rgb(0, 180, 216);
  box-shadow: 10px -2px 20px 2px rgb(0 0 0 / 30%);
  color: black;
}

#moonrise, #moonset, #moonriseText, #moonsetText {
  border: 2px solid black;
  padding: .25rem .75rem;
  border-radius: 5px;
  font-weight: bolder;
}

#top, #middle, #bottom {
  display: flex;
  justify-content: space-around;
}

#moonPhaseMiddle {
  justify-content: center;
  flex-direction: column;
}

#top {
  margin-bottom: .75rem;
}

#middle {
  padding-bottom: 1rem;
}



#moonIcon {
  width: 45px;
  height: 45px;
}

#moonPhaseIcon {
  text-align: center;
  padding-bottom: .5rem;
}

.searchAndLocationContainer {
  display: flex;
}

.mainViewContainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.todaysForecastContainer {
  display: flex;
  justify-content: space-between;
  background-color: rgb(0, 180, 216);
  border: 2px solid black;
  width: 800px;
  margin: 10px auto 10px auto;
  border-radius: 10px;
}

.todayForecastDateDayContainer {
  display: flex;
  gap: 1rem;
}

.todaysForecastTopContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.todayMorning, .todayAfternoon, .todayEvening, .todayOvernight {
  display: flex;
  gap: 1rem;
}

.todaysForecastHumidityPressureContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.todaysForecastDate,
.todaysForecastDay,
.todaysForecastWind,
.todaysForecastPop,
.todaysForecastSummary,
.todaysForecastHumidity,
.todaysForecastPressure {
  font-weight: bolder;
}

.todaysForecastMorningTemp,
.todaysForecastAfternoonTemp,
.todaysForecastEveningTemp,
.todaysForecastOvernightTemp {
  font-weight: bolder;
}

.todaysForecastMorningFeelsLike,
.todaysForecastAfternoonFeelsLike,
.todaysForecastEveningFeelsLike,
.todaysForecastOvernightFeelsLike {
  font-weight: 500;
}

.todaysForecastWindPopContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todaysForecastIconContainer {
  display: flex;
  align-items: center;
}