* {
  max-width: 1280px;
  box-sizing: border-box;
}

.weatherContainer {
  display: flex;
  flex-direction: column;
  width: 550px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: rgb(0, 180, 216);
  margin: 20px auto 20px auto;
  padding-left: 2rem;
  text-align: center;
}

.topContainer {
  display: flex;
  justify-content: space-around;
}

.bottom {
  display: flex;
  justify-content: space-between;
  font-weight: bolder;
  gap: 1rem;
  padding-right: 2rem;
  text-align: center;
}

.bottomUpper,
.bottomLower {
  display: flex;
  justify-content: space-around;
}

.temp {
  font-weight: 600;
  font-size: 70px;
  margin: .5rem 0 0 0;
}

.feelsLike {
  font-weight: 600;
  font-size: 18px;
}

.detailTitle {
font-size: 24px;
font-weight: 600;
}

.detailValue {
  font-size: 18px;
  font-weight: 600;
}

.description {
  font-weight: 600;
  font-size: 18px;
  margin-top: 0;
}

.currentTitle {
  text-align: center;
}

.searchBox {
  display: flex;
  justify-content: center;
}

.searchBar {
  width: 200px;
  
}

/* .forecastContainer {
  display: flex;
  width: 200px;
  height: 200px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: rgb(0, 180, 216);
  margin: 20px auto 20px auto;
} */

.forecastContainer {
  display: flex;
  flex-wrap: wrap;
  width: 750px;
  border: 2px solid black;
  padding: 1rem;
  gap: 1rem;
  margin: 20px auto 20px auto;
  border-radius: 10px;
  background-color: rgb(0, 180, 216);
  justify-content: space-around;
}

.forecastRight {
  display: flex;
  gap: 1rem;
}

.forecastChild {
  border: 2px solid black;
  border-radius: 10px;
  padding: .75rem;
}

.minMax {
  font-weight: bolder;
}

.forecastDate {
  padding-bottom: .5rem;
  font-weight: bolder;
}

.forecastIcon {
  font-weight: bolder;
}