* {
  max-width: 1280px;
  box-sizing: border-box;
}

.locationDisplayContainer {
  display: flex;
  justify-content: center;
}

.locationDisplayContainer p {
  width: 98%;
  border: 2px solid black;
  border-radius: 10px;
  font-weight: bolder;
  font-size: 1.5rem;
  padding: 5px;
  background-color: rgb(0, 180, 216);
  text-align: center;
}

.weatherContainer {
  display: flex;
  flex-direction: column;
  width: 98%;
  border: 2px solid black;
  border-radius: 20px;
  background-color: rgb(0, 180, 216);
  text-align: center;
}

.sunMoonContainer {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.topContainer {
  display: flex;
  
}

.bottomContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.bottomLowerContainer {
  display: flex;
  justify-content: space-evenly;
}

.rightContainer {
  display: flex;
  flex-direction: column;
}

.leftAndRightContainer {
  display: flex;
  justify-content: space-evenly;

}

.bottom {
  display: flex;
  justify-content: space-between;
  font-weight: bolder;
  gap: 1rem;
  padding-right: 2rem;
  text-align: center;
}

.bottomUpper,
.bottomLower {
  display: flex;
  justify-content: space-around;
}

.temp {
  font-weight: 600;
  font-size: 70px;
  margin: .5rem 0 0 0;
}

.feelsLike {
  font-weight: 600;
  font-size: 18px;
}

.detailTitle {
font-size: 24px;
font-weight: 600;
}

.detailValue {
  font-size: 18px;
  font-weight: 600;
}

.description {
  font-weight: 600;
  font-size: 18px;
  margin-top: 0;
}

.currentTitle {
  text-align: center;
}

.searchBox {
  display: flex;
  justify-content: center;
}

.searchBar {
  width: 200px;
  
}

.forecastContainer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 98%;
  border: 2px solid black;
  padding: 1rem;
  gap: 1rem;
  margin: 20px auto 20px auto;
  border-radius: 10px;
  background-color: rgb(0, 180, 216);
  justify-content: space-around;
}

.forecastRight {
  display: flex;
  gap: 1rem;
}

.forecastChild {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  border: 2px solid black;
  border-radius: 10px;
  padding: .75rem;
}

.minMax {
  display: flex;
  flex-direction: column;
  font-weight: bolder;
}

.forecastDate {
  display: flex;
  justify-content: flex-start;
  padding-bottom: .5rem;
  font-weight: bolder;
}

.forecastIcon {
  font-weight: bolder;
}

.forecastIconImage {
  border: 1px solid black;
  width: 50px;
  height: 50px;
}

.sunriseSunsetContainer {
  width: 98%;
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  border: 2px solid black;
  border-radius: 30px;
  margin: 20px auto 20px auto;
  background-color: rgb(0, 180, 216);
  box-shadow: 10px -2px 20px 2px rgb(0 0 0 / 30%);
  color: black;
}

#sunrise, #sunset, #sunriseText, #sunsetText {
  border: 2px solid black;
  padding: .25rem .75rem;
  border-radius: 5px;
  font-weight: bolder;
}

#top, #middle, #bottom {
  display: flex;
  justify-content: space-around;
}

#top {
  margin-bottom: .75rem;
}

.sunriseIcon, .sunsetIcon {
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

.moonriseMoonsetContainer {
  width: 98%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.25rem;
  border: 2px solid black;
  border-radius: 30px;
  margin: 20px auto 20px auto;
  background-color: rgb(0, 180, 216);
  box-shadow: 10px -2px 20px 2px rgb(0 0 0 / 30%);
  color: black;
}

#moonrise, #moonset, #moonriseText, #moonsetText {
  border: 2px solid black;
  padding: .25rem .75rem;
  border-radius: 5px;
  font-weight: bolder;
}

#top, #middle, #bottom {
  display: flex;
  justify-content: space-around;
}

#moonPhaseMiddle {
  justify-content: center;
  flex-direction: column;
}

#top {
  margin-bottom: .75rem;
}

#middle {
  padding-bottom: 1rem;
}



#moonIcon {
  width: 45px;
  height: 45px;
}

#moonPhaseIcon {
  text-align: center;
  padding-bottom: .5rem;
}

.searchAndLocationContainer {
  display: flex;
}

.mainViewContainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.todaysForecastContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(0, 180, 216);
  border: 2px solid black;
  width: 98%;
  border-radius: 10px;
  text-align: center;
}

.todayForecastDateDayContainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.todaysForecastTopContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.todayMorning, .todayAfternoon, .todayEvening, .todayOvernight {
  display: flex;
  gap: 1rem;
}

.todaysForecastHumidityPressureContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.todaysForecastDate,
.todaysForecastDay,
.todaysForecastWind,
.todaysForecastPop,
.todaysForecastSummary,
.todaysForecastHumidity,
.todaysForecastPressure {
  font-weight: bolder;
}

.todaysForecastMorningTemp,
.todaysForecastAfternoonTemp,
.todaysForecastEveningTemp,
.todaysForecastOvernightTemp {
  font-weight: bolder;
}

.todaysForecastMorningFeelsLike,
.todaysForecastAfternoonFeelsLike,
.todaysForecastEveningFeelsLike,
.todaysForecastOvernightFeelsLike {
  font-weight: 500;
}

.todaysForecastWindPopContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todaysForecastDayIconSummaryContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.todaysForecastSummaryContainer {
  display: flex;
  justify-content: center;
}

.todaysForecastDate,
.todaysForecastDay {
  font-size: 20px;
}

.todaysForecastIconTempContainer {
  display: flex;
}

.todaysForecastMinMaxContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 1rem;
}

.todaysForecastIcon {
  height: 100px;
  width: 100px;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alertsContainer {
  display: flex;
  justify-content: center;
  width: 30%;
  border: 2px solid black;
  background-color: rgb(0, 180, 216);
}

.alertsComponent {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

body.activeModal {
  overflow-y: hidden;
}

.buttonModal {
  background-color: rgb(0, 180, 216);
  padding: 10px 20px;
  display: block;
  margin: 1rem auto;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
}

.alertModal, .alertOverlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.alertOverlay {
  background: rgba(49,49,49,0.8);
}
.modalContent {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}

.forecastAccordion {
  width: 60%;
}

.accordion {
  width: 100%;
}

.accordionHeader button {
  display: flex;
}

.accordionHeaderChild {
  width: 14.28%;
}

.accordion-body {
  display: flex;
  justify-content: space-evenly;
}

.accordionBody {
  display: flex;
  flex-direction: column;
}

.weatherIcon {
  width: 50px;
  height: 50px
}

.raindropIcon {
  width: 15px;
  height: 15px;
}